.quiz-main {
    width: 100%;
}

.quiz-container {
    margin-left: 400px;
    margin-top: 75px;

    .quiz-header {
        margin-left: 200px;
    }
}

@mixin alignEle {
    padding: 10px;
    border-radius: 5px;
}

.category {
    width: 22%;
    @include alignEle;
}

.difficulty {
    width: 20%;
    @include alignEle; 
}

.create-btn {
    width: 10%;
    @include alignEle;
}

.question-list {
    margin-top: 25px;
    margin-left: 20px;
}